<head>
    
</head>

<body>
    <div style="opacity: 0.5;background-position: center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: 50%; background-image: url('http://osolehost.com/talpsa/imagenes/slider/FLTnFsa6pK3wVcm7UBBuSbRv0EphW7VByiCh8ln6.png')">
    ghola
    </div>
    <div class="container">
        <div class="row">
            <div class="col">Columna </div>
            <div class="col">Columna </div>
            <div class="col">Columna </div>
        </div>
    </div>
</body>