<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <%= link_to root_path, class: 'navbar-brand' do %>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Logo_de_TALP_S.A..svg/2560px-Logo_de_TALP_S.A..svg.png"
                    class="img-fluid" style="max-width:30%;"></img>
                <% end %>
            </div>

            <%= render 'layouts/background'%>


            <!--/.nav-collapse -->
        </div>

    </div>
</header>