<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <p> Hiola </p>
  <%= img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Logo_de_TALP_S.A..svg/2560px-Logo_de_TALP_S.A..svg.png", class:"img_fluid" %>
    <%= yield %>
  </body>
</html>
